<div class="game {{State}} col-xs-6 col-md-3">
  <div class="away">
    <span class="team">{{AwayTeamName}}</span>
    <span class="score">{{AwayScore}}</span>
  </div>
  <div class="home">
    <span class="team">{{HomeTeamName}}</span>
    <span class="score">{{HomeScore}}</span>
  </div>
  <div class="status">
    {{state this}}
  </div>
</div>